
html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: crimson;
    font-size: 5rem;
}

body img {
    transform: translate(-50% -50%);
}

.spacer {
    margin-top: 10vh;
}